#everything {
    background-color: green; 
}

img {
 display: inline-block;   
}

#katy {
    display: inline-block;
    width: 25%;
}

.Tab{
  padding: 50px;
}

li img {
    width: 200px;
    height: 100px;
}

ul {
    text-align: center;
}

ul li {
    height: 25px;
    width: 150px;
    background-color: #F00;
    display: inline-block;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
    margin-bottom: -10px;
}

.HomeT {
    margin-top: -50px;
    background-color:green;
}

#mainName {
    font-size: 300px;
    font-family: "Brush Script MT";
    text-align: center
}

.cyan {
    background-color: cyan;
}

.ScheduleT{
    padding-bottom: 40px;
}

table {
 border: 1px solid black;
 margin-left: 250px;
 margin-right: 50px;
 display: inline-block;
}

td, th{
    font-size: 35px;
    text-align: center;
    border: 1px solid black;
}

